<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">khan:~/</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog">~/blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publications">~/publications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ~/softwares
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link bg-primary" href="/softwares/pyintertidaldem">pyIntertidalDEM</a>
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item nav-link bg-primary" href="/softwares/pycaz">pycaz</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ~/projects
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link bg-primary" href="/projects/riscobangla.md">RiscoBangla</a>
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item nav-link bg-primary" href="/projects/bandino.md">Bandino</a>
                <a class="dropdown-item nav-link bg-primary" href="/projects/delta.md">DELTA</a>
                <a class="dropdown-item nav-link bg-primary" href="/projects/ffews">FFEWS</a>
                <a class="dropdown-item nav-link bg-primary" href="/projects/helix">HELIX</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CV">~/CV</a>
            </li>
    </div>
  </div>
</nav>
